<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Shop" description="Shop content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
          <predicate>
            <include name="Layout" database="master" path="/sitecore/layout/layouts/Project/Shop" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Shop" />
            
            <include name="Content" database="master" path="/sitecore/content/Shop" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>