

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar pt-3" role="banner">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-6 col-xl-6 logo">
                <h1 class="mb-0"><a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item)" class="text-black h2 mb-0">My Blog</a></h1>
            </div>

            <div class="col-6 mr-auto py-3 text-right" style="position: relative; top: 3px;">
                    @Html.Sitecore().Placeholder("Social Networks")
                <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-xl-none"><span class="icon-menu h3"></span></a>
            </div>
        </div>

        <div class="col-12 d-none d-xl-block border-top">
            <nav class="site-navigation text-center " role="navigation">


                    @Html.Sitecore().Placeholder("Header Navigation")

            </nav>
        </div>
    </div>

    </div>
</header>