<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor
          patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.HttpRequestBegin.onHttpRequestBegin, Sitecore.Kernel']"
          type="Websites.Feature.ReusableComponents.NotFoundItem.Models.NotFoundItemResolver, Websites.Feature.ReusableComponents.NotFoundItem" />
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="Websites.Feature.ReusableComponents.NotFoundItem.Models.SetNotFoundStatusCode, Websites.Feature.ReusableComponents.NotFoundItem" />
      </httpRequestProcessed>
    </pipelines>
    <settings>
      <!--  ITEM NOT FOUND HANDLER
            Url of page handling 'Item not found' errors
      -->
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/Home/404</patch:attribute>
      </setting>
      <!--  LINK ITEM NOT FOUND HANDLER
            Url of page handling 'Link item not found' errors
      -->
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/Home/404</patch:attribute>
      </setting>
      <!--  LAYOUT NOT FOUND HANDLER
            Url of page handling 'Layout not found' errors
      -->
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/Home/404</patch:attribute>
      </setting>
      <!--  ERROR HANDLER
            Url of page handling generic errors
      -->
      <setting name="ErrorPage">
        <patch:attribute name="value">/Home/404</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>