<!-- Header -->
<header class="header1" style="height: 0px;">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="wrap_header">
            <!-- Logo -->

            @Html.Sitecore().Placeholder("Header Logo")
            <div class="wrap_menu">
                <nav class="menu">
                    @Html.Sitecore().Placeholder("Header Navigation")
                    </nav>
                </div>


            </div>
        </div>
</header>