<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <customIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
          
          <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="title" storageType="YES" indexType="TOKENIZED" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                <analyzer type="Sitecore.ContentSearch.SolrProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.SolrProvider"/>
              </field>
              <field fieldName="description" storageType="YES" indexType="UNTOKENIZED" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                <analyzer type="Sitecore.ContentSearch.SolrProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.SolrProvider"/>
              </field>
  
              <field fieldName="shortDescription" storageType="YES" indexType="UNTOKENIZED" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                <analyzer type="Sitecore.ContentSearch.SolrProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.SolrProvider"/>
              </field>
            </fieldNames>

          </fieldMap>
          
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <IndexAllFields>false</IndexAllFields>
            <include hint="list:AddIncludedTemplate">
      
              <!--Product Page-->

              <product>{959CDED3-F9F5-478B-A655-43D4C8B1CD73}</product>
            </include>
            <include hint="list:AddIncludedField">

              <!--Title-->

              <title>{76C3D37F-3D13-44B5-A865-001A3CC2AD96}</title>
              
              <!--Short Description-->
              
              <shortDescription>{6EED3288-F2DE-464D-AB66-AA0979167F1E}</shortDescription>

              <!--Description-->

              <description>{F48AD4C5-961D-4B97-82F6-91D93281E83A}</description>

              <!--Category-->

              <category>{BC7C9DB9-3F85-4994-A461-7BC4925B0E3D}</category>

              <!--Tags-->

              <tags>{D432C15F-94E6-41CA-9B9A-3E0F33127064}</tags>
              
              <!--Price-->
              
              <price>{98CC5288-FA97-47E9-B5F0-509DF52D0E19}</price>
            </include>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="tags_list" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">Websites.Feature.ReusableComponents.Products.ContentSearch.Fields.TagsComputedField, Websites.Feature.ReusableComponents.Products</field>
              <field fieldName="product_category" returnType="string" storageType="YES" indexType="UNTOKENIZED">Websites.Feature.ReusableComponents.Products.ContentSearch.Fields.CategoryComputedField, Websites.Feature.ReusableComponents.Products</field>
              
              <field fieldName="product_image" returnType="string" storageType="YES" indexType="UNTOKENIZED">Websites.Feature.ReusableComponents.Products.ContentSearch.Fields.ImageComputedField, Websites.Feature.ReusableComponents.Products</field>
            </fields>
          </documentOptions>
        </customIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
