
<div class="site-section"
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">

            <div class="col-md-5">

                <div class="p-4 mb-5 bg-white">
                    <p class="mb-4"><h2>@Html.Sitecore().Field("Title")</h2></p>

                    <p class="mb-4">@Html.Sitecore().Field("Content")</p>

                </div>

            </div>
        </div>
    </div>
</div>

