
<div class="site-section"
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">

            <div class="col-md-5">

                <div class="p-4 mb-5 bg-white">
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">@Html.Sitecore().Field("Address")</p>

                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4">@Html.Sitecore().Field("Phone Number")</p>

                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0">@Html.Sitecore().Field("Email")</a></p>

                </div>

            </div>
        </div>
    </div>
</div>

