<div class="flex-c">
    <a href="https://www.facebook.com/" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
    <a href="https://www.instagram.com/" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
    <a href="https://www.pinterest.ru/" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
    <a href="https://www.snapchat.com/" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
    <a href="https://www.youtube.com/" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
</div>
